# Wrangle Report

The focus of the project is to wrangle and visualize the dog information from the WeRateDogs twitter account. These will be achieved through the following steps which include;

Gather and load the different data into jupyter notebook

Assess the data to identify areas that needs cleaning

Clean the data for further analysis

Use different visualizations to analyse the data

### Packages used in the project
The packages used to gather, assess, clean and visualize the data include; pandas, numpy, requests, json, matplotlib, seaborn, re, warnings, tweepy, time, os

### Data Gathering

#### Twitter Archived Enhanced Data

The data is provided as "twitter-archive-enhanced.csv" and would be import used pandas read function. This was loaded into the jupyter notebook using pandas.

#### Image prediction Data
The tweet image predictions, i.e., what breed of dog, is present in each tweet was based on neural network. The link to the data  (image_predictions.tsv) stored in Udacity server was provided  and was downloaded using request and loaded using pandas.
Provide information on iDownload data from link provided programmatically and read using pandas read function and then saved. The code for download had be converted to a comment to avoid download multiple time during the project

#### Tweets data

In order to avoid delays while requesting for a developer account, we make use of the json file (tweet_json.txt) provided containing tweets data. The data contain more information gotten through Twitter's API such as favorite count, retweets e.t.c. which ae required for a roboust analysis. .  We read file and then create a dataframe usin details from the file

All three data were gathered and loaded into pandas dataframes. (tweets_archive, image_pred and tweets_data)

### Assess Data
The three dataframe will be assessed using pandas functions and methods (head,info, shape, describe, sample e.t.c). After Assessing the data several issues (Quality and Tidyness) were discovered in the data. The table beloow show the summary of the issues identified
Based on the assessment performed the issues identified for cleaning in this project are presented in the table below.

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)
Issues = pd.read_csv("issues identified.csv")
Issues

,ISSUE,DATA,ISSUE TYPE
0,"Some column are not need so they should dropped (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp)",twee_archive,Tidiness
1,Timestamp is in int64 format and needs to be convert timestamp to datetime format for easy manipulation,twee_archive,Quality
2,tweet_id is currently in int64 format and will be converted to string since it is actually not a quantitative value,twee_archive,Quality
3,Unrealitic rating values are in the rating numerator and denominator and should be removed. This will be removed using outlier analysis.,twee_archive,Quality
4,Rating numerator and denominator need to be in float format rather than int64,twee_archive,Quality
5,Create a rating column,twee_archive,Quality
6,Convert source to readable format by extract by extract tweet source from the source link provided,twee_archive,Quality
7,NaN,NaN,NaN
8,"Remove rows where p1_dog,p2_dog,p3_dog are false because they are most likely not dogs",image_pred,Tidness
9,"Drop p1_dog,p2_dog,p3_dog columns since we have selected rows which are most likely dogs. Also drop img_num as it is not relevant",image_pred,Tidiness
10,"Rename 'p1', 'p1_conf', 'p2', 'p2_conf', 'p3', 'p3_conf' to more descriptive names",image_pred,Quality
11,Remove '_' from names and capitalize the first letter of each names.,image_pred,Quality
12,tweet_id is currently in int64 format and will be converted to string since it is actually not a quantitative value,image_pred,Quality
13,NaN,NaN,NaN
14,Timestamp is in int64 format and needs to be convert timestamp to datetime format for easy manipulation,tweet_data,Quality
15,tweet_id is currently in int64 format and will be converted to string since it is actually not a quantitative value,tweet_data,Quality
16,The User_id is same value all through and should be dropped as it is irrelevant for analysis.,tweet_data,Tidness
17,NaN,NaN,NaN
18,Merge the three dataset into a single dataframe (tweet_data_master). Merging was done on tweet_id and timestamp.,tweet_data_master,Tidness
19,Capitalize column names in the merged dataset,tweet_data_master,Quality
20,"Extract day, month and year from timestamp in the merged dataset",tweet_data_master,Tidness

### Data cleaning

This phase was the most challenging of the project. Some of the identified issues were actually easy while some seems tough initially. I had to do alot of google seach, read through post on stackoverflow. I also had to learn to read and understand documentation for pandas, seaborn and i really loved it (actually discovered alot of tips from this). I found working with datetime data interesting

Overall i learnt have learnt how to make sense how of  very low quality and untidy data.

Data cleaning was done and a final master data was generated by merging all the cleaned data together.

I created some visual insights into the data and a report was also made (act_report)